* {
    padding: 0;
    /*spasi dalam*/
    margin: 0;
    /*spasi luar*/
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

body {
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176, 1.0), rgba(210, 53, 165));
}

.container {
    height: 100vh;
    /*tinggi*/
    width: 100vw;
    /*lebar*/
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #fdfbfb;
}



#display {
    margin: 10px;
    /*jarak kiri dan kanan*/
    height: 90px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    /*vertikal*/
    justify-content: flex-end;
    /*horizontal*/
    font-size: 30px;
    margin-bottom: 20px;
    /*jarak kebawah*/
    overflow-x: scroll;
}

#display::-webkit-scrollbar {
    display: block;
    height: 5px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    box-shadow: 0 0 5px #eef5f4;
}

button:hover {
    transform: scale(1.1);
}

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #ffd5d8;
    color: #fc4552;
}

.calculator button.btn-number {
    background-color: #c3eaff;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ffd0fb;
    color: #f967f3;
}

.calculator button.btn-equal {
    background-color: #adf9e7;
    color: #000;
}

.calculator.dark {
    background-color: #000000;
}

.calculator.dark #display {
    color: #f8fafb;
}

.calculator.dark button#clear {
    background-color: #2d191e;
    color: #bd3740;
}

.calculator.dark button.btn-number {
    background-color: #1b2f38;
    color: #f8fafb;
}

.calculator.dark button.btn-operator {
    background-color: #2e1f39;
    color: #aa00a4;
}

.calculator.dark button.btn-equal {
    background-color: #223323;
    color: #ffffff;
}